.delete_buttons{
	border : none;
	background : none;
	color: red;
	font-size :30px;
	cursor: pointer;
}
.delete_buttons:hover{
	color: #F78181;
}
.add_buttons{
	border : none;
	background : none;
	color: #0288d1;
	font-size :30px;
	cursor: pointer;
}
.add_buttons:hover{
	color: #12aafd;
}

input:hover {
	border: 0;
	cursor: pointer;
	border-bottom: 0;
}

input:focus{
	border: 0;
	cursor: pointer;
	border-bottom: 0;
}

select:hover {
	border: 0;
	cursor: pointer;
	border-bottom: 0;
}

select:focus{
	border: 0;
	cursor: pointer;
	border-bottom: 0;
}

textarea:hover {
	border: 0;
	cursor: pointer;
	border-bottom: 0;
}

textarea:focus{
	border: 0;
	cursor: pointer;
	border-bottom: 0;
}

.init_cell_grid{
	border : 0;
	border-bottom : 0;
	border-top : 0;
}
.init_row_grid{
	margin : 5px;
}
input::placeholder{
	color: #D8D8D8;
}